<%= render 'layouts/errors', obj: @student %>
<h2>Please enter your Student ID number</h2>
<%= form_for @student do |f| %>
  <h3><%= f.label :id_number, "Student ID" %>
  <%= f.number_field :id_number %></h3>
  <h3><%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %></h3>
  <h3><%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %></h3>
  <h3><%= f.hidden_field :email %>
  <h3><%= f.submit "Submit" %></h3>
<% end %>
<br>
