<h1><%= @student.full_name %></h1>
<%= link_to_delete(@student) if user_is_teacher? %>
<h3>Student ID: <%= @student.id_number %></h3>
<%= link_to_edit_profile(@student) unless user_is_teacher? %>
<br><br>
<% if @student.student_statuses.any? %>
  <h1>Homework For <%= homework_when %></h1>
  <%= render 'klasses/student_klasses' %>
<% else %>
  <h2><em>Nothing to see until school starts again!</em></h2>
<% end %>
