<h1><%= @student.full_name %></h1>
<% if user_is_teacher? %>
  <%= link_to "Delete Profile", student_path, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<h3>Student ID: <%= @student.id_number %></h3>
<%= link_to "Edit Profile", edit_student_path(current_user) %><br><br>

<h1>Homework For <%= homework_when %></h1>
<p>(Click on a class to see how well you're doing)</p><br>
<% @student_statuses.each do |ss| %>
  <% @klass = ss.klass %>
  <h2><%= @klass.period %> <%= link_to @klass.name, student_student_status_path(@student, ss) %></h2>
  <%= render 'layouts/current_homework' %>
  <%= link_to_past_homework(@klass) %><br><br>
<% end %>
