<% if user_is_teacher? %>
  <h1><%= klass_heading_and_link %></h1>
  <br>
  <h1>Student: <%= @student_status.full_name %></h1>
  <h2>Student ID: <%= @student_status.id_number %></h2>
  <%= link_to_edit_student_status %> &nbsp;
  <% unless user_is_admin? %>
    <%= link_to "Back to Student List", klass_student_statuses_path(@klass) %>
  <% end %>
  <br><br><br>
<% else %>
  <h1><%= @klass.name %>, Period <%= @klass.period %></h1>
  <%= link_to 'Back To Home', student_path(current_user) %>
  <br><br>
<% end %>
<h1>Quiz Grades</h1>
<% @quiz_grades.each do |q| %>
  <h3>
    Chapter <%= q.number %>: &nbsp;<%= q.grade %>%
    <% if user_is_teacher? %>
      <% @quiz_grade = q %>
      &nbsp;<%= link_to_edit_quiz_grade %>
    <% end %>
  </h3>
<% end %>
<br><br>
<h1>Late Homework Assignments</h1>
<%= render 'layouts/homeworks' %>
