<% if user_is_teacher? %>
  <h1><%= klass_heading_and_link(@klass) %></h1>
  <br>
  <h1>Student: <%= @student_status.full_name %></h1>
  <h2>Student ID: <%= @student_status.id_number %></h2>
  <%= link_to_edit_student_status(@klass, @student_status) %>
  <%= link_to "Back to Student List", klass_student_statuses_path(@klass) %>
  <br><br><br>
<% else %>
  <h1><%= @klass.name %>, Period <%= @klass.period %></h1>
  <h3><%= link_to 'Back To Home', student_path(current_user) %></h3>
  <br>
<% end %>
<h2>Quiz Grades</h2>
<% @quiz_grades.each do |q| %>
  <h3>
    Chapter <%= q.number %>: &nbsp;<%= q.grade %>%
    <% if user_is_teacher? %>
      <% @q = q %>
      &nbsp;<%= link_to_edit_quiz_grade(@klass, @q) %>
    <% end %>
  </h3>
<% end %><br>
<h2>Late Homework Assignments</h2><br>
<% if @late_homework.count > 0 %>
  <% @late_homework.each do |h| %>
    <% @homework = h %>
    <h3><%= h.date.strftime(day_format) %></h3>
    <%= render 'layouts/homework_display' %><br>
  <% end %>
<% else %>
  <h3>None</h3>
<% end %>
