<h1><%= klass_heading_and_link(@klass) %></h1>
<h2>Chapter <%= @quiz_grade.number %> Quiz</h2>

<%= form_with model: @quiz_grade, class: "" do |f| %>
  <h2>Edit <%= @student_status.full_name %>'s grade: <%= f.text_field :grade %>%</h2>
  <%= f.submit 'Update Grade' %>
<% end %>
