<h1><%= klass_heading_and_link %></h1>
<h2>Chapter <%= @quiz_grade.number %> Quiz</h2>
<%= render 'layouts/errors', obj: @quiz_grade %>
<%= form_for @quiz_grade do |f| %>
  <h2>Change <%= @student_status.full_name %>'s grade: 
  <%= f.text_field :grade, size: 3, maxlength: 3 %>%</h2>
  <h2><%= f.submit 'Submit' %></h2>
<% end %>
