<h1><%= klass_heading_and_link(@klass) %></h1>
<br>
<h2>Enter Grades For The Chapter <%= @quiz_num %> Quiz</h2>
<%= form_tag '/quiz_grades' do %>
  <%= hidden_field_tag :klass_id, @klass.id %>
  <%= hidden_field_tag :quiz_num, @quiz_num %>
  <h3><ol>
    <% @student_statuses.each do |ss| %>
      <li><%= ss.last_name_first %>: <%= text_field_tag "#{ss.id_number}", nil, size: 2, maxlength: 2 %>%</li>
    <% end %>
  </ol></h3>
  <h3><%= submit_tag 'Submit' %></h3>
<% end %>
