<h1><%= @teacher.full_name %></h1>
<% if user_is_admin? && @teacher != current_user %>
  <%= link_to_delete(@teacher) %>
<% end %>
<h3>Teacher ID: <%= @teacher.id_number %></h3>
<h3>Department: <%= @teacher.dept %></h3>
<br>
<%= link_to_edit_profile(@teacher) if @teacher == current_user %>
<br><br><br>
<% unless user_is_admin? && @teacher == current_user %>
  <h1>Classes</h1>
  <%= link_to_add_klass %>
  <%= render 'klasses/teacher_klasses' %>
<% end %>
<br><br>
<% if user_is_admin? && @teacher == current_user %>
  <h3><%= link_to_add_teacher %></h3><br>
  <h3><%= link_to_end_of_year_proceedure %></h3>
<% end %>
