<h1><%= @teacher.full_name %></h1>
<% if user_is_admin? %>
  <%= delete_teacher_button %>
<% end %>
<h3>Teacher ID: <%= @teacher.id_number %></h3>
<h3>Department: <%= @teacher.dept %></h3>
<%= link_to "Edit Profile", edit_teacher_path(current_user) %>
<h2>Classes</h2>
<%= new_klass_link %>
<%= render 'klasses/teacher_klasses' %>
