<h1><%= klass_heading_and_link %></h1>
<h2>Edit Homework Assignment for <%= @homework.formatted_date %></h2>
<h4><%= link_to "Back To Add New Homework Page", klass_homeworks_new_path(@klass) %></h4>
<br>
<b><%= link_to_delete(@homework) %></b>
<%= render 'layouts/errors', obj: @homework %>
<%= form_for @homework do |f| %>
  <%= f.hidden_field :klass_id %>
  <% @f = f %>
  <%= render 'form' %>
<% end %>
