<h1><%= klass_heading_and_link(@klass) %></h1>
<h2>Edit Homework Assignment for <%= @homework.date.strftime(day_format) %></h2>
<%= link_to "Back To Add New Homework Page", klass_homeworks_new_path(@klass) %><br><br>
<%= render 'layouts/errors', obj: @homework %>
<%= form_for @homework do |f| %>
  <%= f.hidden_field :klass_id %>
  <% @f = f %>
  <%= render 'form' %>
<% end %>
