<% if user_is_teacher? %>
  <h1><%= klass_heading_and_link(@klass) %></h1>
<% else %>
  <h1><%= @klass.name %>, Period <%= @klass.period %></h1>
<% end %>
<h2>Past Homework Assignments</h2>
<% if user_is_teacher? %>
  <h3><%= link_to_future_homework(@klass) %></h3>
<% end %><br>
<% if @homeworks.size > 0 %>
  <% @homeworks.each do |homework| %>
    <h2><%= homework.date.strftime("%A, %m/%d/%y ") %></h2>
    <% unless user_is_teacher? %>
      <% @homework = homework %>
      <%= render 'layouts/homework_status_selector' %>
    <% end %>
    <%= render 'layouts/homework_display' %>
  <% end %>
<% else %>
  <h4>No homework was assigned.</h4><br>
<% end %>
