<h1><%= klass_heading_and_link(@klass) %></h1>
<h2>Future Homework Assignments</h2>
<p>(Homework assignments can not be edited on or after the day they are assigned for)</p>
<h3><%= link_to_add_homework(@klass) %></h3>
<h3><%= link_to_past_homework(@klass) %></h3><br>
<% if @homeworks.size > 0 %>
  <% @homeworks.each do |homework| %>
    <h2><%= homework.date.strftime("%A, %m/%d/%y ") %>&nbsp
      <%= link_to "Edit", klass_homeworks_edit_path(@klass, homework) %></h2>
    <h4>READ: <%= homework.read %></h4>
    <h4>EXERCISES: <%= homework.exercises %></h4>
    <h4>OTHER: <%= homework.other %></h4>
    <h4>NOTES: <%= homework.notes %></h4><br>
  <% end %>
<% else %>
  <h3>No future homework has been assigned.</h3>
<% end %>
