<h1><%= klass_heading_and_link(@klass) %></h1>
<h2>Past Homework Assignments</h2>
<% if user_is_teacher? %>
  <h3><%= link_to_future_homework(@klass) %></h3>
<% end %><br>
<% if @homeworks.size > 0 %>
  <% @homeworks.each do |homework| %>
    <h2><%= homework.date.strftime("%A, %m/%d/%y ") %></h2>
    <h4>READ: <%= homework.read %></h4>
    <h4>EXERCISES: <%= homework.exercises %></h4>
    <h4>OTHER: <%= homework.other %></h4>
    <h4>NOTES: <%= homework.notes %></h4><br>
  <% end %>
<% else %>
  <h4>No homework was assigned.</h4><br>
<% end %>
