<h1><%= klass_heading_and_link(@klass) %></h1>
<h1>Add New Homework</h1>
<br>
<%= render 'layouts/errors', obj: @homework %>
<%= form_for @homework do |f| %>
  <%= f.hidden_field :klass_id %>
  <% @f = f %>
  <h3><%= render 'radio_buttons_for_date' %></h3>
  <p>(&#10004; - Homework already exists for this day. Click to edit or delete.)</p>
  <br>
  <%= render 'form' %>
<% end %>
