<h1><%= klass_heading_and_link(@klass) %></h1>
<h2>Add New Homework</h2>
<%= form_with model: @homework, class: "" do |f| %>
  <%= f.hidden_field :klass_id %>
  <% day = future_weekday_only %>
  <% 5.times do %>
    <% if homework_assigned?(day) %>
      <% homeworks = @klass.homeworks.select {|h| h.student_id == 0} %>
      <% homework = homeworks.detect {|h| h.date.day == day.day} %>
      <h3><span class="check_mark">&#10004&nbsp</span>
      <%= link_to day.strftime("%A, %m/%d/%y "), klass_homeworks_edit_path(@klass, homework) %></h3>
    <% else %>
      <h3><%= f.radio_button :date, value: day %>
      <%= f.label :date, day.strftime("%A, %m/%d/%y ") %></h3>
    <% end %>
    <% day.friday? ? day += (add_day * 3) : day += add_day %>
  <% end %>
  <p>(&#10004 -- Homework already exists for that day.)</p><br>
  <h3><%= f.label :read, "Reading" %>
  <%= f.text_field :read %></h3>
  <h3><%= f.label :exercises %>
  <%= f.text_field :exercises %></h3>
  <h3><%= f.label :other %>
  <%= f.text_area :other, rows: 6 %></h3>
  <h3><%= f.label :notes %>
  <%= f.text_area :notes, rows: 6 %></h3>
  <%= f.submit "Submit" %>
<% end %>
