<nav>
  <% if logged_in? %>
    <%= link_to "Home", home_path, class: "" %>
    <%= link_to "Log Out", logout_path, method: :delete, class: "" %>
    <%= link_to "Edit Profile", edit_teacher_path(current_user), class: "" %>
    <%= link_to "Teachers", teachers_path, class: "" %>
    <%= link_to "Add Teacher", new_teacher_path, class: "" %>
    <%= link_to "Classes", teacher_klasses_path(current_user), class: "" %>
    <%= link_to "Add Class", new_teacher_klass_path(current_user), class: "" %>
  <% end %>
</nav>

