<nav>
  <% if logged_in? %>
    <%= link_to_edulink %> | 
    <%= link_to_logout %> | 
    <% if user_is_admin? %>
      <%= link_to "Teachers", teachers_path %> | 
      <%= link_to_students %>
    <% end %>
    <% unless user_is_admin? %>
      <%= link_to_klasses %>
      <% if user_is_teacher? %>
        | <%= link_to_add_klass %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to 'Home', root_path %>
  <% end %>
</nav>
