<!DOCTYPE html>
<html>
  <head>
    <title>EduLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style> a:link {text-decoration:none;} </style>
  </head>

  <body>
    <h4><%= render 'layouts/navbar' %></h4>
    <h3><%= render 'layouts/flash_msgs' %></h3>
    <br>
    <%= yield %>
  </body>
</html>
