<p><i>(Click on a class to see performance)</i></p><br>
<% @student_statuses.each do |ss| %>
  <% @klass = ss.klass %>
  <h2><%= @klass.period %> <%= link_to @klass.name, student_student_status_path(current_user, ss) %></h2>
  <% @homework = @klass.homeworks.current(current_user.id) %>
  <%= render 'layouts/homework_status_selector' %>
  <%= render 'layouts/homework_display' %>
  <%= link_to_past_homework %> 
  <% qty = ss.late_homeworks(@klass).count %>
  <% if qty > 0 %>
    &nbsp;<strong>(<%= qty %> not yet completed)</strong>
  <% end %>
  <br><br>
<% end %>
