<h1><%= @klass.name %></h1>
<h2>Period <%= @klass.period %></h2>
<h3><%= link_to "Edit", teacher_klasses_edit_path(current_user, @klass) %></h3>
<h3>
  <%= link_to "Students", klass_student_statuses_path(@klass) if @klass.student_statuses.count > 0 %> 
  <%= link_to "Add Student", klass_student_statuses_new_path(@klass) %>
</h3><br>
<h1>Homework</h1>
<h3><%= link_to "Add New", klass_homeworks_new_path(@klass) %></h3>
<h2>For <%= homework_when %></h2>
<%= render 'layouts/current_homework' %>
<h3><%= link_to "Future Homework", klass_future_homeworks_path(@klass) %></h3>
<h3><%= link_to "Past Homework", klass_past_homeworks_path(@klass) %></h3>
