<h1><%= @klass.name %>, Period <%= @klass.period %></h1>
<%= link_to_edit_klass %>
<br><br>
<%= link_to_delete(@klass) if user_is_admin? %>
<h2><%= link_to_klass_student_statuses %></h2>
<%= link_to_add_student_status %>
<% if @student_statuses.count > 1 %>
  <h3>Not signed up with EduLink: <%= link_to @non_edulink_students.count, klass_non_edulink_path(@klass) %></h3>
  <h3>With incomplete homework: <%= link_to @late_students.count, klass_late_homeworks_path(@klass) %></h3>
  <br>
  <h2><%= link_to_new_quiz_grades %></h2><br>
  <h2>Homework For <%= homework_when %></h2>
  <%= render 'layouts/homework_display' %>
  <p><em>(Homework may be edited only before the day it is assigned for.)</em></p>
  <br>
  <h3><%= link_to_add_homework %></h3>
  <h3><%= link_to_future_homework %></h3>
  <h3><%= link_to_past_homework %></h3>
<% end %>
